.breadcrumb {
  color: #888888;
  font-size: 14px;
  padding: 16px 0;
}

ul.breadcrumb {
  padding: 10px 80px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  content: ">";
}
ul.breadcrumb li a {
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}